body {
  background-color: #242323;
  color: white;
  font-family: 'Courier Prime', monospace;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#links {
  font-size: 1.5em;
  margin-top: 20px;
}
