body {
  background-color: #d4bad8;
  color: #a762ac;
  font-family: 'Courier Prime', monospace;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#links {
  font-size: 1.5em;
  margin-top: 20px;
}
a {
  color: #8d5889;
}

#module {
  font-size: 1.5em;
}

img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}